// SPDX-FileCopyrightText: Copyright 2026 SAP SE or an SAP affiliate company
//
// SPDX-License-Identifier: Apache-2.0

go 1.26.5

use (
	./internal/common
	./operators/c5c3
	./operators/horizon
	./operators/keystone
)
